Repository swsnu/swppfall2022-team5, pull requests merged in 2022-11, with the labels that each got.

#17 ✨ Implement calendar
  frontend/.prettierrc
  frontend/components/buttons/IconButton.tsx
  frontend/components/calendar/Calendar.tsx
  frontend/components/calendar/Day.tsx
  frontend/components/calendar/DayButton.tsx
  frontend/components/calendar/FullCalendar.tsx
  frontend/components/calendar/MonthDropdown.tsx
  frontend/components/calendar/WeekCalendar.tsx
  frontend/components/containers/Container.tsx
  frontend/components/navbar/NavigationBar.tsx
  frontend/package.json
  frontend/pages/footprints/index.tsx
  frontend/store/calendar.ts
  frontend/styles/globals.css
  frontend/tailwind.config.js
  frontend/utils/calendar.ts
  frontend/yarn.lock
Labels: frontend

#19 ✨ Implement Footprint API
  backend/src/main/kotlin/com/swpp/footprinter/config/SecurityConfig.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/footprint/api/FootprintController.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/footprint/dto/FootprintRequest.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/footprint/dto/FootprintResponse.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/footprint/model/Footprint.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/footprint/repository/FootprintRepository.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/footprint/service/FootprintService.kt
  backend/src/main/resources/application.yaml
Labels: backend

#18 ✨ Implement photo upload modal
  frontend/components/buttons/FloatingButton.tsx
  frontend/components/buttons/RectangleButton.tsx
  frontend/components/calendar/DayButton.tsx
  frontend/components/navbar/NavigationBar.tsx
  frontend/components/upload-footprint/UploadModal.tsx
  frontend/package.json
  frontend/pages/footprints/index.tsx
  frontend/styles/filepond.css
  frontend/styles/globals.css
  frontend/tailwind.config.js
  frontend/yarn.lock
Labels: frontend

#20 ✨ Upload photo to S3
  backend/build.gradle.kts
  backend/src/main/kotlin/com/swpp/footprinter/common/exception/ErrorResponse.kt
  backend/src/main/kotlin/com/swpp/footprinter/common/exception/ErrorType.kt
  backend/src/main/kotlin/com/swpp/footprinter/common/exception/FootprinterException.kt
  backend/src/main/kotlin/com/swpp/footprinter/common/exception/FootprinterExceptionHandler.kt
  backend/src/main/kotlin/com/swpp/footprinter/config/AwsConfig.kt
  backend/src/main/kotlin/com/swpp/footprinter/config/SecurityConfig.kt
  backend/src/main/kotlin/com/swpp/footprinter/config/WebMvcConfig.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/photo/api/PhotoController.kt
  backend/src/main/resources/application.yaml
  frontend/components/upload-footprint/UploadModal.tsx
  frontend/package.json
  frontend/yarn.lock
Labels: frontend, backend

#21 📱Implement Trace, Footprint UI
  frontend/components/footprint/Footprint.tsx
  frontend/components/footprint/Place.tsx
  frontend/components/photolist/PhotoList.tsx
  frontend/components/taglist/TagList.tsx
  frontend/components/trace/Trace.tsx
  frontend/package.json
  frontend/pages/_app.tsx
  frontend/pages/footprints/index.tsx
  frontend/tailwind.config.js
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#25 🚧 Extract metadata from uploaded photo and save as Photo entity
  .gitignore
  backend/build.gradle.kts
  backend/src/main/kotlin/com/swpp/footprinter/domain/photo/api/PhotoController.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/photo/model/Photo.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/photo/repository/PhotoRepository.kt
Labels: backend

#42 🧪 Add testcases for calendar
  README.md
  frontend/__mocks__/zustand.ts
  frontend/package.json
  frontend/store/calendar.ts
  frontend/tests/unit/footprints/index.test.tsx
  frontend/tests/unit/store/calendar.test.ts
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: frontend

#44 🧪 Add testcase for footprint/create
  frontend/__mocks__/axios.ts
  frontend/tests/unit/footprints/create/index.test.tsx
Labels: frontend

#45 🧪 Test footprint store
  frontend/tests/unit/store/footprint.test.ts
Labels: frontend

#47 🧪 Improve frontend coverage
  frontend/components/buttons/FloatingButton.tsx
  frontend/components/buttons/RectangleButton.tsx
  frontend/components/footprint/FootprintPreview.tsx
  frontend/tests/unit/api/index.test.ts
  frontend/tests/unit/components/FootprintsNotFound.test.tsx
  frontend/tests/unit/components/FootprintsPreview.test.tsx
  frontend/tests/unit/components/FullCalendar.test.tsx
  frontend/tests/unit/footprints/create/index.test.tsx
Labels: frontend

#52 🔐 Implement authorization
  .DS_Store
  .github/workflows/backend-lint.yaml
  .github/workflows/frontend-build.yaml
  .github/workflows/test.yaml
  backend/.DS_Store
  backend/build.gradle.kts
  backend/src/main/kotlin/com/swpp/footprinter/common/annotations/UserContext.kt
  backend/src/main/kotlin/com/swpp/footprinter/common/exception/ErrorType.kt
  backend/src/main/kotlin/com/swpp/footprinter/config/SecurityConfig.kt
  backend/src/main/kotlin/com/swpp/footprinter/config/WebMvcConfig.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/auth/AuthProperties.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/auth/api/AuthController.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/auth/dto/AuthResponse.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/auth/dto/SignInRequest.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/auth/dto/SignUpRequest.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/auth/service/AuthService.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/auth/service/AuthTokenService.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/tag/repository/TagRepository.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/user/dto/UserResponse.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/user/model/User.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/user/repository/UserRepository.kt
  backend/src/main/kotlin/com/swpp/footprinter/test/DataInitializer.kt
  backend/src/main/resources/application.yaml
  backend/src/test/kotlin/com/swpp/footprinter/domain/auth/AuthTest.kt
Labels: backend

#56 🔧 Fixed editFootprint (Backend)
  backend/src/main/kotlin/com/swpp/footprinter/common/Constants.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/footprint/service/FootprintService.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/api/TraceController.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/service/TraceService.kt
  backend/src/test/kotlin/com/swpp/footprinter/domain/footprint/service/FootprintServiceTest.kt
  backend/src/test/kotlin/com/swpp/footprinter/domain/trace/service/TraceServiceTest.kt
Labels: backend

#55 ✨ Implement Trace Like
  backend/src/main/kotlin/com/swpp/footprinter/common/model/BaseEntity.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/api/TraceLikeController.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/dto/TraceLikeResponse.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/model/Trace.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/model/TraceLike.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/repository/TraceLikeRepository.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/repository/TraceRepository.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/service/TraceLikeService.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/service/TraceService.kt
  backend/src/test/kotlin/com/swpp/footprinter/domain/trace/service/TraceLikeTest.kt
  backend/src/test/kotlin/com/swpp/footprinter/domain/trace/service/TraceServiceTest.kt
Labels: backend

#60 🎨 Improve frontend design
  backend/src/main/resources/application.yaml
  frontend/components/buttons/IconButton.tsx
  frontend/components/calendar/MonthDropdown.tsx
  frontend/components/containers/DropdownMenuContainer.tsx
  frontend/components/containers/TransitionContainer.tsx
  frontend/components/footprint/FootprintCreate.tsx
  frontend/components/footprint/FootprintPreview.tsx
  frontend/components/navbar/MenuDropdown.tsx
  frontend/components/navbar/NavigationBar.tsx
  frontend/components/placeholder/FootprintsNotFound.tsx
  frontend/components/placeholder/TracesNotFound.tsx
  frontend/components/textfield/TextArea.tsx
  frontend/components/textfield/TextField.tsx
  frontend/components/trace/TracePreview.tsx
  frontend/components/upload-footprint/UploadModal.tsx
  frontend/components/user/UserDropdown.tsx
  frontend/components/user/UserProfile.tsx
  frontend/dto/exception.ts
  frontend/pages/index.tsx
  frontend/pages/signin/index.tsx
  frontend/pages/traces/detail/[traceId].tsx
  frontend/pages/user/[username].tsx
  frontend/store/auth.ts
Labels: frontend

#57 ✨ Implement Searching nearby place by keyword.
  backend/src/main/kotlin/com/swpp/footprinter/common/Constants.kt
  backend/src/main/kotlin/com/swpp/footprinter/common/exception/ErrorType.kt
  backend/src/main/kotlin/com/swpp/footprinter/common/externalAPI/KakaoAPIService.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/place/api/PlaceController.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/place/dto/PlaceResponse.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/place/dto/PlaceSearchRequest.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/place/service/PlaceService.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/place/service/externalAPI/KakaoAPIService.kt
  backend/src/main/kotlin/com/swpp/footprinter/domain/trace/service/TraceService.kt
  backend/src/test/kotlin/com/swpp/footprinter/domain/trace/service/TraceServiceTest.kt
Labels: backend
